<section class="flex flex-row">
  <aside class="flex flex-col gap-4 w-3/4">
    <div>
      <p class="text-3xl font-bold text-sunshine-text">Amado Martínez</p>
    </div>
    <p class="text-lg text-balance">
      +3 años de experiencia como <span class="font-bold text-sunshine-title"
        >Desarrollador Web Full Stack</span
      >. Me gusta usar la tecnología como herramienta para ofrecer soluciones.
    </p>
    <!-- <p>
      No se trata solo de programar, sino de entender el problema y construir algo que realmente
      ayude a quienes lo usan.
    </p> -->
  </aside>
  <aside class="flex flex-row items-center justify-start flex-1">
    <div class="border-4 border-black w-44 h-44">
      <img src="/images/avatar.webp" alt="Amado Martínez" class="w-full h-full object-fill" />
    </div>
  </aside>
</section>
