 <p>Amado Martine</p>
    <p>Desarrollador Web</p>
    <p>+3 años de experiencia como Desarrollador Web. Soy un autodidacta cuyo interes por la tecnologia y el desarrollo lo ha llevado a trabajar en diversos proyectos, desde la integración de sistemas empresariales hasta el desarrollo de soluciones para e-commerce. Me gusta usar la tecnología como herramienta para resolver cosas que importan. No se trata solo de programar, sino de entender el problema y construir algo que realmente ayude a quienes lo usan.</p>