---
import Icons from '../ui/Icons.astro'
---

<section class="flex flex-col gap-1 pb-4">
  <div class="flex flex-row gap-3 items-center">
    <a
      href="https://github.com/amr89-dev"
      class="text-sunshine-text font-bold text-xl flex flex-row items-center gap-2"
      target="_blank"
      rel="noopener noreferrer"
    >
      <Icons name="github" class="text-sunshine-text" size={21} />/github
    </a>
  </div>
  <div class="flex flex-row gap-3 items-center">
    <a
      href="https://linkedin.com/in/amr89-dev"
      class="text-sunshine-text font-bold text-xl flex flex-row items-center gap-2"
      target="_blank"
      rel="noopener noreferrer"
    >
      <Icons name="linkedin" class="text-sunshine-text" size={21} />/linkedin
    </a>
  </div>
  <div class="flex flex-row gap-3 items-center">
    <a
      href="mailto:amr89.dev@gmail.com"
      class="text-sunshine-text font-bold text-xl flex flex-row items-center gap-2"
      target="_blank"
      rel="noopener noreferrer"
    >
      <Icons name="mail" class="text-sunshine-text" size={21} />/mail
    </a>
  </div>
</section>
