---
import TechBaDge from "../ui/TechBadge.astro";

---

<section class=" flex flex-row gap-2 flex-wrap  items-center ">
 
    <TechBaDge tech="react" />
    <TechBaDge tech="js" />
    <TechBaDge tech="next" />
    <TechBaDge tech="node" />
    <TechBaDge tech="ts" />
    <TechBaDge tech="tailwind" />
      <div class={`flex flex-row items-center justify-center border-4 border-black overflow-hidden bg-sunshine px-2 py-1 gap-2 hover:shadow-brutal`}>
        <p class="text-sm font-bold">...</p>
      </div>
 
</section>


