---
import TechBaDge from '../ui/TechBadge.astro'
---

<section class="flex flex-row gap-2 flex-wrap items-center">
  <TechBaDge tech="react" />
  <TechBaDge tech="next" />
  <TechBaDge tech="ts" />
  <TechBaDge tech="tailwind" />
  <TechBaDge tech="node" />
  <TechBaDge tech="postgres" />
  <TechBaDge tech="git" />
  <TechBaDge tech="github" />
  <TechBaDge tech="astro" />
  <TechBaDge tech="..." />
</section>
