---

---

<section class=" m-4 border-4 border-black p-6 rounded-[12px] ">
  <h1 class="text-5xl font-bold">Hola!</h1>
  <p class=" text-base leading-4">Soy un <strong>Amado Martinez</strong> desarrollador web con pasión musical. La disciplina y atención al detalle que heredé de la música son mis mejores aliados en el mundo del desarrollo. La música me enseñó a aprender constantemente, y eso es lo que hago en el desarrollo web: evolucionar y crear algo genial cada día. </p>
  <div>
    <a href="#">Github</a><a href="#">Linkedin</a><a href="#">Email</a>
  </div>
</section>