---
import Icons from './Icons.astro'

interface Props {
  title: string

  href: string
  image?: string
  alt?: string
  icon?: string
  class?: string
  content?: string
}

const { href, title, icon, class: className } = Astro.props
---

<article class={className + '  '}>
  <header
    class="flex flex-row gap-2 items-center text-sunshine-title mb-2 sticky top-0 bg-inherit p-4 pb-1"
  >
    {icon && <Icons name={icon} />}
    <h2 class="font-bold text-2xl">{title}</h2>
  </header>

  <div class="card-content px-4 pb-4">
    <slot />
  </div>
</article>
