---
interface Props {
	title: string;

	href: string;
  image?: string;
  alt?: string;
  icon?: string;
  class?: string;
  content?: string;
}

const { 
  href, 
  title, 
  
  icon, 
  class: className,

} = Astro.props;


---

<article class={className}>
  <header class="card-header">
    {icon && <span class="card-icon">{icon}</span>}
    <h2 class="card-title">{title}</h2>
  </header>
  
  <div class="card-content">
    <slot />
  </div>
</article>